

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #101010;
    color: white;
}


/* ENCABEZADO */

header {
    background-image: url("https://static.wikia.nocookie.net/breakingbad/images/7/78/Logo_breaking_bad.png/revision/latest/scale-to-width-down/1200?cb=20180801024750&path-prefix=es");
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;
    padding: 155px;
    color: white;
}


header h1 {
    font-size: 50px;
    margin: 0;
}

header p {
    font-size: 22px;
}


/* MENÚ */

nav {
    background-color: #222222;
    text-align: center;
    padding: 18px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-weight: bold;
}

nav a:hover {
    color: #80c41c;
}


/* SECCIONES */

.seccion {
    width: 80%;
    margin: 30px auto;
    padding: 25px;
    background-color: #1c1c1c;
    border-radius: 10px;
}

.seccion h2 {
    color: #80c41c;
    font-size: 30px;
}


/* IMÁGENES */

.imagen-principal {
    width: 550px;
    max-width: 100%;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

.imagen-secundaria {
    width: 400px;
    max-width: 100%;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}


/* PERSONAJES */

.personaje {
    background-color: #292929;
    padding: 15px;
    margin: 15px 0;
    border-left: 5px solid #80c41c;
}

.personaje h3 {
    color: #9ed83c;
}


/* LISTA DE TEMPORADAS */

.lista-temporadas {
    line-height: 2;
}

.lista-temporadas li {
    color: #dddddd;
}


/* OPINIÓN */

.opinion {
    width: 80%;
    margin: 30px auto;
    padding: 25px;
    background-color: #17351a;
    border-radius: 10px;
}

.opinion h2 {
    color: #9ed83c;
}

.destacado {
    color: #80c41c;
    font-weight: bold;
}


/* PIE DE PÁGINA */

footer {
    background-color: #1f5f25;
    text-align: center;
    padding: 25px;
    margin-top: 40px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #80c41c;
}
